body{
    text-align: center;
    color: #000;
    background-color: #2471a3 ;
    background-repeat: no-repeat;
}
 

.parrafo1{
    background-color: rgba(136, 170, 204, .4);
    border-radius: 1rem;
    color: rgba(255, 255, 255, 0.6);
}